# Control Structures

# Taking user input

In [1]:
score = input("Enter the current score: ") # input() => always returns a string

Enter the current score: 10

In [5]:
score = int(input("Enter the current score: "))

Enter the current score: 10

In [6]:
score

10

In [7]:
9print(type(score))

<class 'int'>

In [2]:
x = 20

In [4]:
x

20

Conditional Statement
- if
- if-else
- elif

In [23]:
number = int(input("Enter any number: "))
print(number)

Enter any number: 10
10

In [16]:
if number>= 0:
    print("user has entered a positive", number)

In [14]:
if number>= 0:
    print("user has entered a positive", number)
else:
    print("user has entered a negative", number)

user has entered a negative -1

In [22]:
if number > 0:
    print("user has entered a positive", number)
elif number == 0:
    print("its a zero",0)
else:
    print("user has entered a negative", number)

its a zero 0

## While

In [29]:
index = 1
while index <= 10:
    print(index)
    #index = index+1
    index += 2

1
3
5
7
9

In [30]:
r = list(range(1,10,2))

In [32]:
for item in r:
    print(item)

1
3
5
7
9

In [33]:
company_names = ["amazon","flipkart","snapdeal"]

In [34]:
print(company_names)

['amazon', 'flipkart', 'snapdeal']

In [35]:
## Convert all the company names into websites

In [36]:
amazon = "www.amazon.com"

In [37]:
amazon

'www.amazon.com'

In [50]:
for x in company_names:
    print("www." + x + ".com")

www.amazon.com
www.flipkart.com
www.snapdeal.com

In [41]:
websites = []
for i in company_names:
    websites.append("www." + i + ".com")
    print("www." + i + ".com")

www.amazon.com
www.flipkart.com
www.snapdeal.com

In [42]:
websites

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com']

In [48]:
websites = []
for i in company_names:
    i = "www."+i+".com"
    websites.append(i)

In [46]:
websites

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com']

In [51]:
vk = {"name":"Virat", "Age":35, "Team":"RCB"}

In [53]:
for i in vk:
    print(i)

name
Age
Team

In [54]:
for i in vk.values():
    print(i)

Virat
35
RCB

In [58]:
for i, j in vk.items():
    print(i, j)

name Virat
Age 35
Team RCB

In [60]:
for i, j in enumerate(company_names):
    print(i, j)

0 amazon
1 flipkart
2 snapdeal

## Break

In [63]:
for i in range(1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

## Continue

In [67]:
for i in range(1,11):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

## Pass

In [68]:
for i in range(1,11):

IndentationError: expected an indented block (1334445784.py, line 1)

In [69]:
for i in range(1,11):
    pass

## Exercise 1
 - take an input from the user and print the reverse of the number
 - Input = 123
 - Output = 321

In [70]:
num = input("enter from user:")
print("Reverse: ", num[::-1])

enter from user:123
Reverse:  321

In [71]:
num = input("enter from user:")
print("Reverse: ", num[::-1])

enter from user:123456
Reverse:  654321

In [72]:
## Write a program to get the sum of all the elements in the list
# num = [1,2,3]
# output = 6

In [76]:
num = [1,2,3,20,25,30]

In [77]:
sum(num)

81

In [78]:
result = 0
for i in num:
    result += i
print(result)

81