## Args and kwargs
 - args

In [1]:
def sumofnumbers(x,y):
    return x + y

In [2]:
sumofnumbers(2,3)

5

In [22]:
def sumofnumsusingargs(*args):
    print("Args:", args)
    print("Type of Args: ", type(args))

In [23]:
sumofnumsusingargs(2,3,"x","y")

Args: (2, 3, 'x', 'y')
Type of Args:  <class 'tuple'>

In [6]:
sumofnumsusingargs(2,3,3,4,5,6,7,7)

Args: (2, 3, 3, 4, 5, 6, 7, 7)
Type of Args:  <class 'tuple'>

In [7]:
sum((1,2,3))

6

In [8]:
def sumofnumsusingargs(*args):
    print("Args:", args)
    print("Type of Args: ", type(args))
    return(sum(args))

In [9]:
sumofnumsusingargs(1,2,3,4,5,6,7)

Args: (1, 2, 3, 4, 5, 6, 7)
Type of Args:  <class 'tuple'>

28

In [32]:
def sumofnumsusingargs(*args): ## Reciever side
    print("Args:", args)
    print("Type of Args: ", type(args))
    result = 0
    for i in args:
        result += i
    print("result :", result)

In [11]:
sumofnumsusingargs(1,2,3,4,5)

Args: (1, 2, 3, 4, 5)
Type of Args:  <class 'tuple'>
result : 15

In [12]:
t = (10,20,30,40,50)

In [14]:
sumofnumsusingargs(t[0],t[1],t[2])

Args: (10, 20, 30)
Type of Args:  <class 'tuple'>
result : 60

In [15]:
sumofnumsusingargs(*t)

Args: (10, 20, 30, 40, 50)
Type of Args:  <class 'tuple'>
result : 150

In [16]:
l = [10,20,30,40,50]

In [19]:
sumofnumsusingargs(*l)

Args: (10, 20, 30, 40, 50)
Type of Args:  <class 'tuple'>
result : 150

In [34]:
# Create a program where user enters a set of numbers and find the sum of all the numbers

In [24]:
## User Input

In [25]:
userInput = input("Enter comma separated numbers: ")

Enter comma separated numbers: 1,2,3,4,5,6

In [26]:
print(userInput, type(userInput))

1,2,3,4,5,6 <class 'str'>

In [27]:
lst_num = userInput.split(",")

In [28]:
lst_num

['1', '2', '3', '4', '5', '6']

In [30]:
new_list = []
for i in lst_num:
    new_list.append(int(i))

In [36]:
int(lst_num)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [31]:
new_list

[1, 2, 3, 4, 5, 6]

In [33]:
sumofnumsusingargs(*new_list)

Args: (1, 2, 3, 4, 5, 6)
Type of Args:  <class 'tuple'>
result : 21

 - kwargs

In [37]:
def playerdetails(**kwargs):
    for k, v in kwargs.items():
        print("k -> {}, v->, {}".format(k, v))

In [39]:
playerdetails(name = "Virat", age = "33", team = "RCB", salary = 1000000)

k -> name, v->, Virat
k -> age, v->, 33
k -> team, v->, RCB
k -> salary, v->, 1000000

In [42]:
d = {"name" : "Virat", "age" : 33, "team" : "RCB", "salary" : 1000000}

In [43]:
playerdetails(**d)

k -> name, v->, Virat
k -> age, v->, 33
k -> team, v->, RCB
k -> salary, v->, 1000000

## Comprehensions

 - List Comprehensions

In [48]:
r = range(1,11)
print(list(r))
result = []
for i in r:
    result.append(i * i)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [49]:
result_list = [item*item for item in range(1,11)]
print(result_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Example 1
 - print all numbers from 1 to 21 which are divisible by 2

In [55]:
# Traditional
evens = []
for i in range(1,22):
    if i % 2 == 0:
        evens.append(i)
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [56]:
evens = [i for i in range(1,22) if i%2==0]
evens

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [57]:
# Write a program to get a list of all characters from a subject which are consonants using LC

In [60]:
input_ = "MATEHEMATICS"
#output = ["M",T,"H","M","T","C","S"]

In [61]:
result = [i for i in input_ if i not in "AEIOU"]
print(result)

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [62]:
for i in input_:
    if i not in "AEIOU":
        print(i)

M
T
H
M
T
C
S

In [63]:
## websites = ["amazon", "flipkart", "snapdeal"]
#output = ["www.amazon.com", "www.flipkart.com", "www.snapdeal.com"]
## Strictly through LC

In [1]:
websites = ["amazon", "flipkart", "snapdeal"]

In [2]:
result = ["www."+item+".com" for item in websites]

In [3]:
result

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com']

In [4]:
s = "welcome to the world of python programming"
#out = [("welcome", 7),("to",2),("the",3)...]

In [9]:
# Normal approach
result = []
for i in s.split():
    result.append((i,len(i)))

In [10]:
result

[('welcome', 7),
 ('to', 2),
 ('the', 3),
 ('world', 5),
 ('of', 2),
 ('python', 6),
 ('programming', 11)]

In [11]:
result = [(i, len(i)) for i in s.split()]

In [12]:
result

[('welcome', 7),
 ('to', 2),
 ('the', 3),
 ('world', 5),
 ('of', 2),
 ('python', 6),
 ('programming', 11)]

In [13]:
## Write a program which will find all such numbers which are divisible by 7
#but are not multiples of 5, between 200 t0 320 (both included)
# The numbers obtained should be printed in comma seperated sequence on a sinfle line
# Hint: use range method

In [ ]:
# input : sequence of numbers between 200, 320
#out: 203, 217, 224 . . .

In [16]:
odd_nums = [print(x) for x in range(200 ,321) if x % 7 == 0]

203
210
217
224
231
238
245
252
259
266
273
280
287
294
301
308
315

In [17]:
for i in odd_nums:
    print(type(i))

<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>

In [22]:
odd_nums = [str(x) for x in range(200 ,321) if x % 7 == 0 and x % 5 != 0]
print(", ".join(odd_nums))

203, 217, 224, 231, 238, 252, 259, 266, 273, 287, 294, 301, 308

# Dictionary comprehensions

In [23]:
# from range of numbers output the squares in dict as given below
# {1:1, 2:4, 3:9, 4:16, 5:25}

In [24]:
result = {}
for item in range(1,6):
    result[item] = item * item
print(result)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [26]:
result = {item: item * item for item in range(1,6)}
print(result)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [27]:
s = "the quick brown fox jumps over the lazy dog"

In [28]:
s.count("t")

2

In [29]:
s.count("q")

1

In [30]:
# output : {'t':2, 'q': 1 . . . }

In [31]:
result = {i: s.count(i) for i in s}

In [32]:
result

{'t': 2,
 'h': 2,
 'e': 3,
 ' ': 8,
 'q': 1,
 'u': 2,
 'i': 1,
 'c': 1,
 'k': 1,
 'b': 1,
 'r': 2,
 'o': 4,
 'w': 1,
 'n': 1,
 'f': 1,
 'x': 1,
 'j': 1,
 'm': 1,
 'p': 1,
 's': 1,
 'v': 1,
 'l': 1,
 'a': 1,
 'z': 1,
 'y': 1,
 'd': 1,
 'g': 1}