In [ ]:
print("My name is Nikanksha Jain")

In [ ]:
print()

In [ ]:
print("My name is Nikanksha Jain")

In [ ]:
print(11)

In [ ]:
print(11+12)

In [ ]:
a=10
print(a)

In [ ]:
print(type(a))

In [ ]:
a="10nnnRR990@#$"
print(a)
print(type(a))

In [ ]:
a='10nnnRR990@#$'
print(a)
print(type(a))

In [ ]:
print("9/10/2023")

In [ ]:
print("Nik","Jain")

In [ ]:
print("This is Nik \n I am from Mumbai ")

In [ ]:
print("This is Nik. \t I am from Mumbai ")

In [ ]:
a,b,c=10,20,12
print(a,b,c)

In [ ]:
print(10)

In [ ]:
print(b)

In [ ]:
f=14
print(type(f))

In [ ]:
print(f)

In [ ]:
a,b,c=10,12,23
print(a,b,c)

In [ ]:
a=b=c=10
print(a,b,c)

In [ ]:
#User define input
a=int(input("Enter Number: ")) #a=10
print("My number is :",a)

In [ ]:
a=str(input("Enter your name: "))
print("My number is :",a)

In [ ]:
print("My name is :""Nik")

In [ ]:
a=float(input("Enter your name: "))
print("My name is :",a)

In [ ]:
12==19

In [ ]:
print("My name is :Nik")

In [ ]:
a=12
print("My name is :",a)

In [ ]:
Name="nik"
print(Name)

In [ ]:
#A variable name must start with a letter or the underscore character
First_Name="abc"
print(First_Name)

In [ ]:
_FirstName="nik1"
print(_FirstName)

In [ ]:
firstname="nik"
print(firstname)

In [ ]:
#A variable name cannot start with a number
1firstname="nik"
print(1firstname)

In [ ]:
#Variable names are case-sensitive (age, Age and AGE are three differentvariables)
Age=22
print(Age)

In [ ]:
#A variable name can only contain alpha-numeric characters and underscores(A-z, 0-9, and _ )
r="Nik"
print(r)

In [ ]:
u=12
print(u)

In [ ]:
a=12
b=13
c=a+b
print(c)

In [ ]:
a=12
b=13.90
c=a+b
print(c)
print(type(c))

In [ ]:
a="12"
print(type(a))
a1=int(a)
b=13.90
c=a1+b
print(c)

In [ ]:
a="12"
a1=int(a)
b=13.90
c=a1+b
print(c)

In [ ]:
a="12"
b="13.90"
c=a+b
print(c)

In [ ]:
a="Nik"
print(a*3)


a=3
print(a*3)

In [ ]:
#a=3
#print(a*3)

In [ ]:
'''
hhhhhhh 
jjjjjjj
kkkkkk
llllll
lllll
'''

In [ ]:
"""
hhhhhhh 
jjjjjjj
kkkkkk
llllll
lllll
"""

In [ ]:
abc =1000000
print(abc)

In [ ]:
a b c =1000 2000 3000
print(a b c)

In [ ]:
a,b,c =1000,2000,3000
print(a,b,c)

In [ ]:
a_b_c=1000000
print(a_b_c)
print(type(a_b_c))

In [ ]:
s="Hello world!"
print(s)

In [ ]:
print(s[6:])

In [ ]:
print(s[2])

In [ ]:
print(s[2:])

In [ ]:
print(s[0:5])

In [ ]:
print(len(s))

In [ ]:
p="I am from Mumbai"
print(p[5:9])

In [ ]:
p="I am from Mumbai"
print(p[-6:])

In [ ]:
print(p[::-1])

In [ ]:
print(p[:])

In [ ]:
print(p[-1:])

In [ ]:
print(p[:-1])

In [ ]:
p="I am from Mumbai"
print(p[6:-3])

In [ ]:
#Arithmetic Operators +,-.*,/,//
12+34

In [ ]:
a=12/44
print(a)

In [ ]:
a=12
b=13
c=a+b
print(c)

In [ ]:
a=12
b=13
a+=b #a= a+b
print(a)

In [ ]:
a=12
b=44
c=a//b
print(c)

In [ ]:
a=2
b=3
c=a**b
print(c)

In [ ]:
a=12
b=44
c=a%b
print(c)

In [ ]:
a=12
print(a)

In [ ]:
a=12
a=a+12 #a +=12
print(a)

In [ ]:
a=12
a=a-12 #a -=12
print(a)

In [ ]:
a=13
b=13
a &=b
print(a)

In [ ]:
a=10
b=2
a |=b
print(a)

In [ ]:
a=3
b=5
a ^=b
print(a)

In [ ]:
8 4 2 1
1 1 1 0   ...........14
0 1 1 1  >>1 .........7
0 0 1 1  >>2.........3

In [ ]:
a=14
b=1
a >>=b
print(a)

In [ ]:
a=3
b=5
a =a>>b
print(a)

In [ ]:
a=14
b=2
a =a<<b
print(a)

In [ ]:
11 == 11

In [ ]:
11 != 11

In [ ]:
print(11 >10)

In [ ]:
print(11 <10)

In [ ]:
print(11 >= 11)

In [ ]:
print(10 <= 11)# < or ==

In [ ]:
print(10 <= 11 or 12 ==10 or 15 >10)

In [ ]:
print(not(10 <= 11 or 12 ==10))

In [ ]:
a=10
if not a:
    print("This will return true")
else:
    print("false")

In [ ]:
x=["Apple","Banana"]
y=["Apple","Banana"]
z=x

In [ ]:
print(x is not z)

In [ ]:
print(x is not y)

In [ ]:
print(x==y)

In [ ]:
print(x is y)

In [ ]:
print(x is z)

In [ ]:
x=["Apple","Banana",]
y=["Apple","Banana"]
z=x
print(x is z)

In [ ]:
x=["Apple","Banana",]
y=["Apple","Banana"]
x=y
print(x is y)

In [ ]:
x=["Apple","Banana",]
y=["Apple","Banana"]

x=y=z
print(z is y)

In [ ]:
print(x==y)

In [ ]:
print(x is y)

In [ ]:
a=["Apple","Banana"]
b=["Apple","Banana"]
c=a

print(z)
x=y
print(x)
print(x is z)

In [ ]:
x=["Apple","Banana"]
print("carrot" in x )

In [ ]:
x=["Apple","Banana"]
print("Ban" not in x )

In [ ]:
(not("Banana" in x) or ("Ban" in x))

In [ ]:
day =float(input("Enter current time"))
if (day>18):
    print("It is night")

In [ ]:
import datetime
x=datetime.datetime.now()
print(x)

In [ ]:
day =float(input("Enter current time"))
if (day>18):
    print("It is night")
else:
    print("It is a Day")

In [ ]:
day =float(input("Enter current time"))
if (day>=18 and day<=24):
    print("It is night")
elif(day<18 and day>=0):
    print("It is a Day")
else:
    print("wrong selection")

In [ ]:
no =float(input("Enter number"))
if no>0:
    print("+ve")
elif no<0:
    print("-ve")
elif no==0:
    print("-ve")
else:
    print("wrong selection")

In [ ]:
name =str(input("Enter name"))
p=len(name)
if p == 4:
    print("True")
else:
    print("False")

In [ ]:
name =str(input("Enter name"))

if "a" in name:
    print("True")

In [ ]:
day =float(input("Enter current time"))
if (day>18):
    print("It is night")
    if (day>=24):
        print("mid night")

In [ ]:
5. Find the output of the given Python program?
a, b, c = 1, 3, 5
if a > 0:
  if b < 2:
    print("Hi")
  elif c > 3:
    print("Hello")
else:
  print("Know Program")
A) Hi
B) Hello
C) Know Program
D) Compiled Successfully, No Output.

In [ ]:
a=-22
if a%2 == 0:
    print("even")
    if a > 0:
        print("+ve")
    
else:
    print("wrong selection")

The slice() constructor creates a slice object representing the set of indices specified by range(start, stop, step).
Syntax:
slice(stop)
slice(start, stop, step)
Parameters: 
start: Starting index where the slicing of object starts. 
stop: Ending index where the slicing of object stops. 
step: It is an optional argument that determines the increment between each index for slicing. 
Return Type: Returns a sliced object containing elements in the given range only.

In [ ]:
String = 'ASTRING'
a1="I love India"
s1 = slice(6)
s2 = slice(0, 6, 2)
s3 = slice(-1, -12, -2)
print(String[s2])
print(a1[s1])

In [ ]:
Str ="ASTRING"
print(Str[3])

In [ ]:
s2 = slice(1, 5, 2)
print(String[s2])

In [ ]:

print(String[slice(-1, -12, -3)])

In [ ]:
s1 = "Python"
s2="Program"
s3="".join([s1,s2])
s4="#".join([s1,s2])
print(s3)
print(s4)

In [ ]:
txt1 = "My name is {}, I'm {age}".format("John", age = 36)
print(txt1)

In [ ]:
Name ="My name is {fname}".format(fname="Nik")
print(Name)

In [ ]:
a="My age is {age}".format(age=12)
print(a)

In [ ]:
txt2 = "My name is {0}, I'm {1}".format("Mathew",20)
print(txt2)

In [ ]:
txt ="Once upon a King there was a King"
txt.replace("King","Queen")

In [ ]:

txt.replace("there","their")

In [ ]:
txt ="Once upon a time there was a King"
txt.find("t")

In [ ]:
txt4 ="Company12"
a=txt4.isalnum()
print(a)

In [ ]:
txt5 ="Company"
a1=txt5.isalnum()
print(a1)

In [ ]:
txt5 ="12"
a1=txt5.isalnum()
print(a1)

In [ ]:
txt4 ="Company 12"
a=txt4.isalnum()
print(a)

In [ ]:
txt ="Hello, My name is Nik, My age is 12"
s=txt.split(",")
print(s)

In [ ]:
txt ="Hello, My name is Nik, My age is 12"
s=txt.split(",",maxsplit=1)
print(s)

In [ ]:
txt.startswith("H")

In [ ]:
txt ="Banana"
x=txt.center(80)
print(x)

In [ ]:
txt ="Banana"
x=txt.center(20,"0")
print(x)

In [ ]:
t="I love India. India is beautiful"
t.count("India")

In [ ]:
print("This is India. \n We are studing at Excelr")

In [ ]:
print("This is India. \t \t \t We are studing at Excelr")

In [ ]:
# For # While

In [ ]:
for i in range(10):#0<10 0....9
    print("Python")

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(1,20):
    print(i)

In [ ]:
for i in range(1,21,1):
    print(i)

In [ ]:
"""
for loop is used to iterate over a sequence (list, tuple, string) or other iterable objects. 
Iterating over a sequence is called traversal.
for loop is an entry check loop.
The condition is checked in the beginning and the body of the loop is executed if it is only True otherwise the loop is not executed.
Loop continues until we reach the last item in the sequence. 
The body of for loop is separated from the rest of the code using indentation.
"""

In [ ]:
for p in "python":
    print(p)

In [ ]:
a=10
while(a>=1):
    print(a)
    a=a-1

In [ ]:
essay =input("Enter your essay")
count =0
for i in essay:
    if i==" ":
        count +=1 # count =count+1
print(count)
if count >=250:
    print("Length is >=250")
else:
    print("Length is <=250")

In [ ]:
essay =input("Enter your essay")
p=len(essay)
print(p)

In [ ]:
for i in "python":
    if i=="h":
       pass
    print("current letter is ", i)

In [ ]:
for i in "python":
    if i=="h":
        break
        #print("This is pass block")
    print("current letter is ", i)

In [ ]:
for i in "python":
    if i=="h":
        continue
        #print("This is pass block")
    print("current letter is ", i)

In [ ]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end ="    ")
    print(  )

In [ ]:
*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(5):
    for j in range(i+1):
       print("*",end ="")
    print(  )

In [ ]:
Which jump statement is used to skip the current 
     iteration and move to the next iteration?
a) break
b) continue
c) switch
d) None of the above

. What is the output of the following snippet?
      round(4.7684)
a) 4.76
b) 4.77
c) 5
d) 4

 What is the output of the following snippet?
     t = (2,4,8,2)
     print(t[1 : -1])
a) (2, 4)
b) (4, 8)
c) (4, 8, 2)
d) (8, 2)

 Which of the following arithmetic operators cannot be 
    used with strings ?
a) +
b) -
c) *
d) None of the above
What is the output of the following snippet?
     list = [2, 46, 56, 100, 28]
     print(list[-1])
a) 100
b) 46
c) 28
d) Error
 How many times will the loop run?
i=2
while(i>0):
    i=i-1
a) 2                                                          b) 1
c) 3 

What will be the output of the following Python code?
for i in range(0,2,-1):
    print("Hello")
a) Hello Hello                                         b) Hello
c) No Output                                          d) Error
 Which of the following is a valid for loop in Python?
a) for(i=0; i < n; i++)
b) for i in range(0,5):
c) for i in range(0,5)
d) for i in range(5)
 What will be the output of the following Python code?
x = "abcdef"
i = "a"
while i in x:
    x = x[:-1]
    print(i, end = " ")
a) iiiiii
b) aaaaaa
c) aaaaa
d) None of the above

In [ ]:
h=int(input("Enter the height: "))
for i in range(1,h+1):
    for j in range(1,h-i+1):
        print(" ",end=" ")
    for j in range(1,i+1):
        print('*',end=" ")
    for j in range(1,i):
        print('*',end=" ")
    print("\n")

"""1. \n and \t  are known as __________.
a) Escape Sequence
b) Special Character
c) Keyword
d) None of the above

2.What is the error returned by the following code: 
str = "Learning"
print(str[10])
a) Error  in Index
b) Index out of range in string
c) Index Error
d) None of the above
 Name the function which is used to find length of string ?
a) length( )
b) len( )
c) strlen( )
d) slen( )
4. Which operator is used with integers as well as with strings?
a) /
b) //
c) **
d) *
. What will be the output of the following?
    str = "Welcome"
      l=len(str)
      print(l)
a) Error                                        b) 7
c) 6                                               d) 8

 What will be the output of below Python code?
      str1="Information"
      print(str1[2:8])
a) format                                      b) formatio 
c) orma                                         d) ormat"""

In [ ]:

print(1+3)
print("Nik"+"Jain")

In [ ]:
print(2*3)
print("Nik "*3)

A list is a sequence of similar or different data types. 
It is an ordered collection of values (elements) enclosed within square brackets [ ]. 
List can be modified.
The position of an element in the list is indexed, first element starting with zero, second indexed as one and so on.
The elements of list should be specified within square brackets. 
Example:
Marks = [10, 23, 41, 75]
Fruits = [“Apple”, “Orange”, “Mango”, “Banana”]
MyList = [ ]

In [ ]:
Marks = [10, 23, 41, 75]
print(Marks)

In [ ]:
Marks = [10, 23, 41, 75,12.5,"Nik",True]
print(Marks)

In [ ]:
Fruits = ["Apple", "Orange", "Mango", "Banana"]
print(Fruits)

In [ ]:
print(Fruits[0])

In [ ]:
print(Fruits[-2])

In [ ]:
i=1
while(i<=4):
    print(Marks[i],end=" ")
    i=i+1

In [ ]:
Marks = [10, 23, 41, 75,12.5,"Nik",True]

In [ ]:
i=-1
while(i>=-4):
    print(Marks[i],end=" ")
    i=i-1

In [ ]:
Marks.append(90)
print(Marks)

In [ ]:
print ("Marks[0]: ", Marks[0])

In [ ]:
Fruits = ["Apple", "Orange", "Mango", "Banana", "Orange"]
print(Fruits)

In [ ]:
print ("Marks[1:5]: ", Fruits[1:5]) #Fruits = ["Apple", "Orange", "Mango", "Banana"]

In [ ]:
Marks

In [ ]:
>>>list[0] # Prints first element of the list 
>>>list[1:3] # Prints elements starting from 2nd till 3rd 
>>>list[2:] # Prints elements starting from 3rd element 
>>>list[:3] # Prints elements starting from beginning till 3rd 
>>>list[1:-1] # Prints all elements except the first and last 
>>>tinylist * 2 # Prints list two times 
>>>list + tinylist # Prints concatenated lists 
>>>len(list) # Prints length of the list

In [ ]:
Fruits[1]="cherry"
Fruits

In [ ]:
Fruits[:]=[]
Fruits

In [ ]:
Fruits = ["Apple", "Orange", "Mango", "Banana"]
Marks.append([90,12,23])
print(Marks)

In [ ]:
Marks.extend([70,72,73])
print(Marks)

In [ ]:
Marks[9]

In [ ]:
Marks.insert(2,"hhhh")
print(Marks)

In [ ]:
Marks.remove("hhhh")

In [ ]:
Marks

In [ ]:
del Marks[1]
print(Marks)

In [ ]:
Marks = [100,10,200, 23, 41,90, 75]
Marks.sort()

In [ ]:
Marks

In [ ]:
Fruits = ["Apple", "Orange", "Mango", "Banana"]

Fruits.sort()

In [ ]:
Fruits

In [ ]:
l=["N","I","k"]
print("".join(l))

In [ ]:
l=["N","I","k"]
l
l1=l.copy()
l1

In [ ]:
l=[1,2,3,1,3,1]
l.count(1)

In [ ]:
l=["N","I","k"]
l.count("N")

In [ ]:
l.reverse()

In [ ]:
l

In [ ]:
max(l)

In [ ]:
min(l)

In [ ]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']

names2=names1
names3 = names1[:]
names2[0] = 'Alice'
names3[1] = 'Bob'

sum = 0
for ls in (names1, names2, names3):
    print(ls)
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':
        sum += 10
print( sum)

In [ ]:
t1=("Apple","Banana","Cherry")
t1

In [ ]:
print(t1)

In [ ]:
t1=("Apple","Banana","Cherry","Apple")
t1

In [ ]:
print(t1[0])

In [ ]:
print(len(t1))

In [ ]:
print(type(t1))

In [ ]:
t1=("Apple","Banana","Cherry","Apple")
t2=(1,2,3,4,5)
t3=(True,False,True)
t4=("Apple",1,True,0)
t1

In [ ]:
t2

In [ ]:
t3

In [ ]:
t4

In [ ]:
t5="Apple","Banana","Cherry","Apple"
print(type(t5))

In [ ]:
print(t5[-1])

In [ ]:
print(t5[2:4])

In [ ]:
if "Apple" in t5:
    print("Yes")
else:
    print("No")

In [ ]:
t5="Apple","Banana","Cherry","Apple"
y=list(t5)
y[1]="Kiwi"
t5=tuple(y)
t5

In [ ]:
t5=("Apple","Banana","Cherry","Apple")
print(type(t5))
t6=("kiwi",)
print(type(t6))
t5 +=t6
t5

In [ ]:
t5=("Apple","Banana","Cherry","Apple") #packing
t1,t2,t3,t4=t5 #unpacking
t1

In [ ]:
t4

In [ ]:
t3

In [ ]:
t5=["Apple","Banana","Cherry","Apple"] #packing
t1,t2,t3,t4=t5 #unpacking
t1

In [ ]:
t5=("Apple","Banana","Cherry","Apple")
for i in t5:
    print(i)

In [ ]:
t5=("Apple","Banana","Cherry","Apple")
for i in range(len(t5)):
    print(t5[i])

In [ ]:
tup=(1,1,1,2,3,4,2,1)
p=tup.count(1)
p

In [ ]:
p=tup.index(3)
p

In [ ]:
p=min(tup)
p

In [ ]:
p=max(tup)
p

In [ ]:
#set
s1={"Apple","Banana","Cherry","Apple",True,1,3.8}
s1

In [ ]:
s1.add("kiwi")
s1

In [ ]:
s1={"Apple","Banana","Cherry"}
s2={"pineapple","mango","papaya"}
s1.update(s2)
s1

In [ ]:
s1={"Apple","Banana","Cherry"}
s2=["pineapple","mango","papaya"]
s1.update(s2)
s1

In [ ]:
s1={"Apple","Banana","Cherry"}
s1.remove("Banana")
s1

In [ ]:
s1={"Apple","Banana","Cherry"}
s1.pop()
s1

In [ ]:
s1.clear()

In [ ]:
s1

In [ ]:
del s1

In [ ]:
s1

In [ ]:
set1={"a","b","c","c"} #union menas set with all the items
set2={1,2,3}
set3=set1.union(set2)
set3

In [ ]:
set1.update(set2)
set1

In [ ]:
set3

In [ ]:
set1={"a","b","c","c"} #
set2={1,2,3}
set3=set1.union(set2)
set3

In [ ]:
set1={"a","b","c","c"} #
set2={1,2,3,"c"}
set1.intersection_update(set2)
set1

In [ ]:
set1={"a","b","c","c"} #
set2={1,2,3,"c"}
set3 = set1.intersection(set2)
print(set3)

In [ ]:
set1={"a","b","c","c"} #
set2={1,2,3,"c"}
set1.symmetric_difference_update(set2)
set1

In [ ]:
set1={"a","b","c","c"} #
set2={1,2,3,"c"}
set3 = set1.symmetric_difference(set2)
set3

1. What is the output when we execute list(“hello”) ?
a) [‘h’, ‘e’, ‘l’ , ‘l’ , ‘o’]
b) [‘hello’]
c) [‘llo’]
d) [‘olleh’]
2. Which of the following is correct syntax for slice operation on the list [4,5,6,7,8,9] ? 
a) print(list[0])
b) print(list[:3])
c) print(list[:-1])
d) All of the above
3. What will be the output of the following?
     list = [1, 2, 3, None, (1, 2, 3, 4, 5), [‘Hi’, ‘Hello’, ‘Bye’]]
     print(len(list))
a) 12                                                       b) 11
c) 22                                                       d) 6
4.  Statement 1: append (): Appends a single element passed as an argument at the end of the list.
Statement 2: extend() Appends each element of the list passed as argument at the end of the given list. Which statement is correct?
a) Statement 1                          
b) Statement 2
c) Both Statement 1 and 2 are correct
d) Both Statement 1 and 2 are incorrect.
5. What will be the output of below Python code?
grades=[ ]
grades.append(45)
grades.append(35)
grades.append(21)
print(grades)
a) [45,35,21]
b) [21]
c) [45,35]
d) [ ]

In [ ]:
thisdic={
    "brand":"Ford",
    "Model":"Mustang",
    "year":1964 }
print(thisdic)

In [ ]:
print(thisdic["Model"])

In [ ]:
thisdic={
    "brand":"Ford",
    "Model":"Mustang",
    "year1":1964,
    "year":2014}
print(thisdic)

In [ ]:
thisdic.get("Model")

In [ ]:
thisdic.keys()

In [ ]:
thisdic.values()

In [ ]:
thisdic["Model"]="abc"

In [ ]:
thisdic

In [ ]:
thisdic.items()

In [ ]:
thisdic.update({"color":"red"})
thisdic

In [ ]:
thisdic.update({"color":"blue"})
thisdic

In [ ]:
del thisdic["Model"]
thisdic

In [ ]:
thisdic.pop("year1")

In [ ]:
thisdic

In [ ]:
#thisdic.clear()

In [ ]:
for i in thisdic.keys():
    print(i)

In [ ]:
for i in thisdic.values():
    print(i)

In [ ]:
for i,j in thisdic.items():
    print(i,j)

In [ ]:
f=thisdic.copy()
f

In [ ]:
myfamily ={"child1":{"name":"nik","email":"nn@gmail"},"child2":{"name":"nik1","email":"nn1@gmail"}}
myfamily

In [ ]:
child1={"name":"nik","email":"nn@gmail"}
child2={"name":"nik1","email":"nn1@gmail"}
child3={"name":"nik2","email":"nn2@gmail"}
myfamily={"child1":child1,"child2":child2,"child3":child3}
myfamily

In [ ]:
f={40:"john",60:"nnn"}
f

In [ ]:
d={}
print(type(d))

In [ ]:
d1={"nnn"}
print(type(d1))

In [ ]:
d1={"nnn":88}
print(type(d1))

In [ ]:
d1=set()
print(type(d1))

In [ ]:
def display():
    print("This is my first function")
    

    
display()

In [ ]:
def add():
    a=12
    b=13
    print("Sum of 2 number is",a+b)
    

    
add()

In [ ]:

def add(a,b,c):
    c=a+b+c/100
    print("Sum of 2 number is",c)
    
    
    
    
    

a=int(input("Enter your number"))
b=int(input("Enter your number"))
c=int(input("Enter your number"))
add(a,b,c)

In [ ]:
def add(a):
    print("My name is",a)
    
a=input("Enter your name")
add(a)

In [ ]:
def abc(a):
  
    print("Sum of 2 number is",a+a)
    
    
    

a=int(input("Enter your number"))

abc(a)

In [ ]:
def abc(a,b):
   print(a+b)
    
    
    

a=int(input("Enter your number"))
b=10
abc(a,b)+abc(a,b)

In [ ]:
def add(a,b=10):
    print("Sum of 2 number is",a+b)
    

a=10    
add(a)

In [ ]:
def add(a,p1=10):
    print("Sum of 2 number is",a+p1)
    

a=10    
add(a)

In [ ]:
def add(q,r=20):
    print("Sum of 2 number is",q+r)
    

q=10  
#r=10
add(q)

In [ ]:
def add(q=12,r=20):
    print("Sum of 2 number is",q+r)
    

q=10  
r=10
add(q,r)

In [ ]:
def printnumbers(*no):
    for i in no:
        print(i)
    return
    

print("printing 2 values")
printnumbers(1,2)
print("printing 3 values")
printnumbers(10,22,30)

In [1]:
def si(p,r,t):
    print((p*r*t)/100)
    

si(12,33,55)

217.8

In [3]:
def si(p,r,t):
    ans=((p*r*t)/100)
    return ans

p1=si(12,33,55)
print("Simple in : ",p1)

Simple in :  217.8

In [ ]:
def si(p,r,t):
    ans=((p*r*t)/100)
    return ans

p1=si(12,33,55)
print("Simple in : ",p1)

In [4]:
def kk(a,b):
    print(a+b)
    
kk(12,33)

45

In [6]:
def kk(a,b):
    return(a+b)
    
kk(12,33)+33

78

In [7]:
def kk(a,b):
    return(a+b+33)
    
kk("12","33")+"33"

'123333'

In [9]:
def si(p,r,t):
    ans=((p*r*t)/100)
    return ans
p1=19
r1=13
t1=44
ans=si(p1,r1,t1)
print("Simple in : ",ans)

Simple in :  1245.816

In [11]:
def si(p,r,t):
    ans=((p*r*t)/100)
    return ans
p1=19
r1=13
t1=44
ans=si(p1,r1,t1)
print("Simple in : ",ans)

Simple in :  108.68

Anonymous function is a function that is defined without a name. 
While normal functions are defined using the def keyword, anonymous functions are defined using the lambda keyword. So, anonymous functions are also called as lambda functions.
USE OF LAMBDA FUNCTIONS:
It is mostly used for creating small and one-time anonymous functions.
They are mainly used in combination with the functions like filter(), map() and reduce().
They can take any number of arguments and return one value in the form of an expression.

In [12]:
sum1=lambda a,b :a+b
print(sum1(1,5))

6

In [13]:
sum1=lambda a :a+10
print(sum1(5))

15

In [14]:
def myfunc(n):
     return lambda a : a * n
    
    
    
mydoubler = myfunc(2)
print(mydoubler(11))

22

In [15]:
def myfunc(n):
     return lambda a : a * n
    
    
mydoubler = myfunc(2)
print(mydoubler(11)) 


mytripler = myfunc(3)
print(mytripler(11))

22
33

In [1]:
a=99
def fun():
    a=88
    print(a)   
fun()

88

In [2]:
a=99
def fun():
    a=88
    print(a)    
fun()
print(a)

88
99

In [5]:
def calculateSquare(n): 
    return n*n
numbers = (1, 2, 3, 4)
result = map(calculateSquare, numbers)
#print(result)
# converting map object to list
numbersSquare = list(result)
print(numbersSquare)

[1, 4, 9, 16]

In [7]:
ages = [5, 12, 17, 18, 24, 32]
def myFunc(x):
    if x < 18:
        return False
    else:
        return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

5
12
17

In [8]:
ages = [5, 12, 17, 18, 24, 32]
def myFunc(x):
    if x < 18:
        return False
    else:
        return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

In [11]:
import functools
# initializing list
lis = [1, 3, 5, 6, 2]
 
# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a+b, lis))

The sum of the list elements is : 17

In [12]:
 
# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))

The maximum element of the list is : 6

In [13]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))


num = 3
print("The factorial of", num, "is", factorial(num))

The factorial of 3 is 6